<!-- Content Start -->
<div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Data E-Katalog
                        <span class="tools pull-right" hidden>
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table editable-table ">
                            <div class="space15"></div>
                            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Kopi</th>
                                    <th>Nama Petani</th>
                                    <th>Alamat</th>
                                    <th>No HP</th>
                                    <th>Kelompok Tani</th>
                                    <th>Website</th>
                                    <th>Sosial Media</th>
                                    <th>Badan Usaha</th>
                                    <th>Lokasi</th>
                                    <th>Ketinggian</th>
                                    <th>Jenis Kopi</th>
                                    <th>Kapasitas Produksi</th>
                                    <th>Sertifikat</th>
                                    <th>Deskripsi</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <?php 
                                    $i=1;
                                    foreach($ekatalog_print as $data):?>
                                <tr class="">
                                    <td><?= $i++ ?></td>
                                    <td><?php echo $data->catalog_nama_kopi; ?></td>
                                    <td><?php echo $data->catalog_nama_petani; ?></td>
                                    <td><?php echo $data->catalog_alamat; ?></td>
                                    <td><?php echo $data->catalog_no_hp; ?></td>
                                    <td><?php echo $data->catalog_kelompok_tani; ?></td>
                                    <td><?php echo $data->catalog_website; ?></td>
                                    <td><?php echo $data->catalog_sosmed; ?></td>
                                    <td><?php echo $data->catalog_badan_usaha; ?></td>
                                    <td><?php echo $data->catalog_lokasi; ?></td>
                                    <td><?php echo $data->catalog_ketinggian; ?></td>
                                    <td><?php echo $data->catalog_jenis_kopi; ?></td>
                                    <td><?php echo $data->catalog_kap_produksi; ?></td>
                                    <td><?php echo $data->catalog_sertifikat; ?></td>
                                    <td style="width: 250px;"><?php echo substr($data->catalog_deskripsi,0,50); ?>&nbsp;...</td>
                                </tr>
                                <?php endforeach; ?>
        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>

<!-- Content End -->